body, p, li{
  font-family: 'Open Sans', sans-serif;
  font-size : 16px;
  background-color: rgb(250, 250, 250);
  color : rgb(50, 50, 50);
  line-height: 24px;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  color : #585f7d;
  font-weight: 600;
  margin-bottom : 50px;
}

h1{
  font-size: 2em;
  line-height: 1em
}

h2{
  font-size: 1.5em;
  line-height: 0.5em
}

img{
  width : 150px;
  height: 150px;
}

.img-circle{
  border-radius : 50%;
}

p{
  margin-bottom : 50px;
  margin-top : 50px;
  padding-left : 30px
  margin-right : 30px;

}

a{
  text-decoration: none;
}

.btn:hover {
  color : white;
  background-color: #585f7d;
}

.btn{
  background-color: white;
  color : #585f7d;
  padding : 15px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border : 1.5px solid #585f7d;
}

i{
  font-size: 32px;
  color : #585f7d;
}

i:hover{
  color : black;
}

.container{
  width: 700px;
  margin: 0 auto;
}

.card{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top : 60px;
  margin-bottom: 60px;
  border: 1px solid lightgrey;
  padding-bottom : 55px;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline;
}

li{
  padding-right : 15px;
  padding-left : 15px;
}

.list-inline{
  padding-left: 0px;
}

/*Media querries*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}






