

body, p, li{
  font-family: 'Open Sans', sans-serif;
  font-size : 16px;
  background-color: rgb(250, 250, 250);
  color : rgb(50, 50, 50);
  line-height: 24px;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  color : #585f7d;
  font-weight: 600;
  margin-bottom : 40px;
}

h4, h4 > a{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-weight: 400;
}

h4 > a{
  margin-bottom: 10px;
}

h1{
  font-size: 2em;
  line-height: 1em
}

h2{
  font-size: 1.5em;
  line-height: 0.5em;
}

img{
  object-fit: cover;
  object-position: top;
}



span.badge{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: 0.5px solid #585f7d;
}

span.badge img {height: 100%;}

.img-circle{
  border-radius : 50%;
}

.button {
  background-color: white;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  z-index: 1;
}

.tooltip {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: white;
  color: #585f7d;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-top: 80px;
  margin-left: -91px;
  opacity: 0;
  transition: opacity 0.1s;
  font-weight: bold;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

i.fa-solid {
  color: #585f7d;
  font-size: 25px;
}

i.fa-solid:hover{ color: #585f7d;}

.button:hover{border: 1px solid #585f7d; cursor: pointer;}

p{
  margin-bottom : 50px;
  margin-top : 30px;
  padding-left : 30px
  margin-right : 30px;
  text-align: justify;
  font-size: 1.2em;
  padding: 0.7em;
  border-radius: 4px;
}

a{
  text-decoration: none;
}

.btn:hover {
  color : white;
  background-color: #585f7d;
}

.btn{
  background-color: white;
  color : #585f7d;
  padding : 15px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border : 1.5px solid #585f7d;
  margin: 1em;
  width: 40%;
}

.lang-link{
  display: flex;
  justify-content: flex-start;
  color: #585F7D;
  font-weight: 500;
}

.lang-link:hover{font-weight: 600;}

.lang-link:hover span.badge{border: 1px solid #585f7d;}


i{
  font-size: 2.2em;
  color : #585f7d;
}

i:hover{
  color : black;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

.card{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top : 3em;
  margin-bottom: 3em;
  border: 1px solid lightgrey;
  /*padding-bottom : 55px;*/
}

.text-center {
  text-align: center;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list-inline > li {
  display: inline;
}

li{
  padding-right : 15px;
  padding-left : 15px;
  background-color: white;
}

.list-inline{
  padding-left: 0px;
}

.resume{
  position: absolute;
  overflow: hidden;
}

.resume h2{
  background-color: #585f7d;
  color: white;
  border-radius: 2px;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0.7em;
  margin-bottom: 1.3em;
  margin-top: 2em;
}

.resume-header{
  background-color: #585f7d;
  padding: 2em;
  border-radius: 2px;
  width: 935px;
  display: flex;
  justify-content: flex-end;
  height: 20vh;
}

.margin-right{
  margin-right: 15%;
}

.resume-header h1, .resume-header h3, .resume-header hr{
  color: #E1DAD1;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  text-align: center;
}

.resume-header h1{
  font-size: 3.2em;
  margin-bottom: 0;
}

.resume-header h3{
  font-weight: lighter;
  font-size: 1.2em;
}

.resume-header hr{
    width: 5vw;
  }

.resume-body{
  margin-top: 2em;
  margin-left: 24em;
  width: 580px;
  overflow: hidden;
}

.resume-body p{
  margin: 0;
  padding: 0.1em;
}
body p.purple-bg{
  background-color: rgba(87, 95, 125, 0.2);
  padding: 0.2em 0.5em;
}
span.bold{
  font-weight: 600;
  margin-right: 0.5em;
}

span.grey{
  color: grey;
  font-weight: 300;
  margin-left: 0.5em;
}

.flex-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5em;
}

.skills{
  background-color: #E1DAD1;
  width: 320px;
  position: relative;
  border-radius: 2px;
  margin-top: 2em;
  margin-left: 2em;
  padding-bottom: 3em;
  margin-bottom: 3em;
}

.skills img{
  margin: inherit;
  margin-top: 3em;
  width: 230px;
  height: 230px;
}

.skills h2{
  margin-bottom: 0.5em;
  margin-top: 2.5em;
  margin-left: 0.7em;
}

.d-flex > a, .d-flex > p, .myskills p, .skills p, .resume-body p{
  background-color: inherit;
  color: #585f7d;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

 .resume-body p{
  font-size: 1em;
 }

.myskills p{
  font-weight: 600;
  font-size: 0.9em;
}

.d-flex > a{
  padding: 0.7em;
}

.hr{
  width: 17vw;
  margin-left: 0.9em;
  background-color: #585f7d;
  margin-bottom: 1.5em;
  height: 0.13em;
  max-width: 200px;
}

.d-flex > i{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #585f7d;
  color: white;
  padding: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.interets i{
  font-size: 1.7em;
  padding: 0.5em;
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.interets{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.how-much-skilled{
  background-color: white;
  width: 6.5em;
  height: 1em;
  margin-left: 0.7em;
}

.score{
  background-color: #585f7d;
  height: 1em;
}

.row p, .langage p{
  margin-bottom: 0;
  padding-bottom: 0;
}

.langage p{
  margin-top: 0;
  padding-top: 0.2em;
  font-weight: 400;
  font-size: 1.3vw;

}

h1.apps-header{
  margin-bottom: 2em;
  background-color: #585f7d;
  color: #E1DAD1;
  height: 15vh;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.project-name{
  margin-bottom: 0px;
  background-color: #585f7d;
  color: white;
  height: 50px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name .button {position: relative; border: 1px solid #585f7d;}

.project-name .button:hover { scale: 1.1; }

.shadow-box{
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-between;
}

.card-left-side, .card-right-side {width: -webkit-fill-available;}

.card-left-side h3{margin-bottom: 5px;}

.card-left-side h4{margin-top: 0;}

.card-right-side{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-right-side img{max-width: 50%; max-height: 132px;}

.application p{
  margin-bottom : 1em;
  margin-top: 1em;
}

.application p.no-bg{ background: white;}

.hidden{
  display: none;
  max-height: 0;
}

.app-detail{transition: 0.10s ease-in-out}

.app-links h4{
  border: 1.8px solid #585f7d;
  padding: 0.5em;
  border-radius: 4px;
  width: 15vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-links span{
  color: #585f7d;
  font-weight: 600;
  margin-right: 0.2em;
}

.app-links a{
  border-radius: 4px;
  margin-right: 2em;
}

.app-links a:hover{
  background-color: #585f7d;
  opacity: 0.95;
}

.app-links a:hover span, .app-links a:hover i, .app-links a:hover h4{
  color: white;
  background-color: #585f7d;

}

.app-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

hr {
  width: 50vw;
  color: #585f7d;
  max-width: 500px;
}

.one-project{
   margin-top: 4em;
}
/*-------------------- Media querries -------------------*/

@media (max-width: 1074px) {
  /* For a screen < 974px, this CSS will be read */
  .container {
    /*width: 800px;*/
    width: 900px;
  }

  .resume-header{
    width: 834px;
  }

  /*.margin-right{
    margin-right: 4em;
  }*/

  .resume-body{
    margin-left: 19em;
    /*width: 470px;*/
    width: 570px;
    margin-top: 3em;
  }

  .resume-body h2{
    font-size: 1.2em;
  }

  .d-flex{
    display: inherit;
  }
   .resume-body p{
    font-size: 1.1em;
  }

  .myskills{
    display: flex;
  }

  .skills{
    width: 250px;
    margin-top: 3em;
  }

  .skills img {
    margin-top: 3em;
    width: 180px;
    height: 180px;
  }

  .mobile a{
    font-size: 1em;
    display: flex;
    justify-content: center;
  }

  .mobile p{
    text-align: center;
    font-size: 1.5;
  }

  .mobile i{
    margin: auto;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
  }
  .mobile > i:first-child{
    margin-top: 1.5em;
  }

  .langage p {
    font-size: 1em;
  }

  .interets i {
    font-size: 1.5em;
    padding: 0.7em;
    margin: 0.3em;
    width: 1em;
    height: 1em;
  }

}
/* ---------- For a screen < 720px, this CSS will be read ---------- */
@media (max-width: 850px) {
  .container {
    width: 650px;
  }

  .skills{
    width: 185px;
    margin-top: 6em;
    margin-left: 1em;
    padding: 0.5em;
    margin-bottom: 15em;
  }

  .skills img {
    margin-top: 2em;
    width: 150px;
    height: 150px;
  }

  .resume-header{
    width: 585px;
    justify-content: flex-end;
    height: 20vw;
  }

  .margin-right{
    margin-right: 3em;
  }

  .resume-header h1{
    font-size: 2.5em;
  }

  .resume-header h3{
    font-size: 1.5em;
  }

  .resume h2{
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 3em;
  }

  .resume-body{
    margin-top: 0em;
    margin-left: 14.5em;
    width: 400px;
  }

  .d-flex > a, .d-flex > p, .myskills p, .skills p, .resume-body p {
    font-size: 0.8em;
  }

  .resume-body p{
    font-size: 1em;
  }

  .mobile a{
    font-weight: 500;
  }

  .mobile p{
    text-align: center;
  }

  .mobile i{
    margin: auto;
    font-size: 2.8vw;
    width: 2.8vw;
    height: 2.8vw;
  }

  .row p{
    margin: auto;
    width: 55%;
  }

  .how-much-skilled {
    width: 55%;
    height: 1em;
    margin: auto;
  }


  .interets i{
    font-size: 1.3em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .langage{
    font-size: 1.3em;
  }

    .d-flex{
    display: inherit;
  }

   .app-links h4 {
    padding: 2em;
  }

    .app-links i{
    margin-left: 0.3em;
  }
}


@media (max-width: 660px) {
  /* ------- XS SCREENS ---- For a screen < 540px ------ */
  .container {
    width: 480px;
  }

  .skills{
    margin-top: 5.5em;
    margin-left: 0.5em;
    width: 150px;
    margin-bottom: 20em;
  }

  .skills img {
    margin: inherit;
    margin-top: 1em;
    width: 120px;
    height: 120px;
  }

  .resume-header{
    padding: 2em;
    width: 415px;
    height: 15vh;
  }

  .margin-right{
    margin-right: 1em;
  }

  .resume-header h1{
    font-size: 2.1em;
  }

  .resume-header h3{
    font-size: 1.1em;
  }

  .resume h2{
    font-size: 1em;
    padding: 0.9em;
    line-height: 1.5em;
  }

  .resume-body{
    margin-top: 0em;
    margin-left: 185px;
    width: 280px;
  }

  .d-flex > a, .d-flex > p, .myskills p, .skills p, .resume-body p {
    font-size: 0.7em;
  }

  .resume-body p{
    font-size: 1em;
  }

  .mobile a{
    font-size: 0.6em;
    display: flex;
    justify-content: center;
  }

  .mobile p{
    text-align: center;
  }

  .mobile i{
    margin: auto;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
  }

  .d-flex{
    display: inherit;
  }

  .interets i{
    font-size: 1.5em;
    padding: 0.8em;
    margin-bottom: 0.5em;
  }

.langage p{
  font-size: 0.6em;
  font-weight: 500;
}

  .interets {
    flex-wrap: wrap;
  }

}

@media (max-width: 500px) {
  /* ------- XXS SCREENS ---- For a screen < 500px ------ */

  .container {
    width: 430px;
  }
  .resume-header{
    width: 365px;
    height: 110px;
  }
    .margin-right{
    margin-right: 0em;
    width: 100%;
  }
  .resume{
    background: white;
    padding-bottom: 3em;
    border-radius: 4px;
    border: solid 1px lightgrey;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }
  .resume-body{
    margin-top: 0em;
    margin-left: 170px;
    width: 240px;
  }
  .resume-body p {
    font-size: 0.9em;
  }
  .skills{
    width: 130px;
  }
  .skills h2{
    margin-left: auto;
  }
  .hr{
    margin-left: 0;
  }
  .app-links a {
     margin-right: 0;
     margin-bottom: 1em;
  }
  .app-links {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .app-links h4 {
    padding: 1em;
  }
  .app-links h4 {
     width: inherit;
  }
  h2.text-center {
    line-height: 22px;
  }
  .application p{
    font-size: 0.9em;
  }

}

@media (max-width: 450px) {
  /* ------- XXS SCREENS ---- For a screen < 450px ------ */
  .container {
    width: 380px;
  }
  .skills{
    margin-top: 10em;
    margin-left: 0;
    margin-bottom: 20em;
  }
  .resume-header{
    width: 315px;
    height: 110px;
  }
  .resume-body{
    margin-left: 154px;
    width: 215px;
    margin-top: 0em;
  }
  .resume-body p {
    font-size: 0.85em;
  }
  .resume h2 {
    font-size: 0.9em;
  }
  .langage p {
    font-size: 0.5em;
    font-weight: 600;
  }
  .mobile p {
    font-size: 0.6em;
  }
  .mobile a {
    font-size: 0.55em;
  }
  .resume h2 {
    margin-top: 2em;
  }
  .resume-header h1 {
    font-size: 1.8em;
  }
  .resume-header h3 {
    font-size: 0.9em;
  }

}


@media (max-width: 400px) {
  /* ------- XXS SCREENS ---- For a screen < 450px ------ */
  .container {
    width: 300px;
  }
  .resume-header{
    width: 235px;
    height: 130px;
  }
  .resume-body{
    margin: auto;
    margin-top: 1300px;
    width: 260px;
  }
  .skills{
    width: 80%;
    margin: auto;
    margin-top: 155px;
    margin-bottom: 2325px;
    padding-bottom: 30px;
  }
  .contact {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
  }
  .mobile > i {
    margin-top: 0em !important;
    margin-right: 10px;
  }
  .d-flex {
    display: flex;
    margin-top: 10px;
  }
  .mobile p, .mobile a {
    font-size: 10px;
    font-weight: 500;
  }
  .skills h2 {
    margin-top: 1.5em;
  }
  .langage p{
    font-size: 0.7em;
    font-weight: 400;
  }
  .mobile i {
    width: 1em;
    height: 1em;
  }
  .interets i {
    width: 0.7em;
    height: 0.7em;
  }
  .how-much-skilled, .row p {
    width: 90%;
  }

}
